:root {
    --clr-font-dark-100:#121;
    --clr-font-dark-200:#232;
    --clr-side: #1a1a1a;
}

body {
    margin:0;
    display:grid;
    grid-template:
    "head head head head" min-content
    "hero hero hero hero" 50vh
    ". main side ." auto
    "foot foot foot foot" min-content
    / 1fr 5fr 1fr 1fr;
    grid-column-gap: 2rem;
    font-family: Lato sans-serif;
}

a {
    text-decoration: none;
}

header, footer {
    background:#010;
    color:white;
    padding:.5rem;
    z-index:2;
}

header {
    grid-area:head;
}

.hero {
    color:white;
    background: url(../img/Garage-PC-2021.jpg) center no-repeat;
    background-size:cover;
    box-shadow:0 0 10px black;
    z-index:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    grid-area:hero;

}

.hero > h1 {
    margin:0;
    font-size:4rem;
    text-shadow: 0 0 4px red;
}

main {
    grid-area:main;
}

main > h3 {
    color:var(--clr-font-dark-100);
}

video {
    display: block;
    position: absolute;
    top: 80%;
    right: 35%;
    width: 650px;
    height: 400px;
}

img {
    display: block;
}

.card {
    color:var(--clr-font-dark-200);
    box-shadow:0 0 10px gray;
    margin:2rem;
    margin-left:0;
    margin-right:0;
    border-radius: 10px;
    display:grid;
    grid-template:
    "img head" min-content
    "img text" auto
    / minmax(50px,1fr) 3fr;
    grid-column-gap: 2rem;
}

.card img {
    grid-area:img;
    width:100%;
    margin:1rem;
    border-radius:10px;
}

.card h3 {
    margin-top:.5rem;
    grid-area:head;
}

.card p {
    margin-top:0;
    padding-right:2rem;
    grid-area:text;
}

.sidebar {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    z-index:0;
    margin:0;
    padding:0;
    grid-area:side;
    min-width:150px;
}

.sidebar-content {
    background:var(--clr-side);
    font-size: 25px;
    color:white;
    height:max-content;
    width:auto;
    margin:0;
    padding:2rem;
    position:relative;
}

.image-cars {
    width: 100px;
    height: 100px;
    margin: auto;
}

.presentation {
    font-size: 30px;
    display: block;
    position: absolute;
    right: 30%;
    top: 60%;
    text-align: center;
}

@media only screen and (min-width: 650px) {
    .sidebar-content:after {
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        height:50px;
        content:'';
        background:var(--clr-side);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
}

.sidebar-content a {
    color:white;
}

.sidebar-content > ul {
    list-style:none;
    margin:0;
    padding:0;
}

@media only screen and (max-width: 650px) {

    body {
        display:flex;
        flex-direction:column;
    }

    .hero {
        text-align:center;
    }

    main {
        padding-left:2rem;
        padding-right:2rem;
    }

    main > h3 {
        padding:0;
        text-align:center;
    }

    .sidebar-content ul li {
        display: inline;
    }

    .sidebar-content ul {
        text-align:center;
    }

    .sidebar-content {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .hero {
        padding:2rem;
    }
}